name: CI/CD Trivy Flow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'corretto'
      - name: Run the Maven verify phase
        run: |
          java -version
          mvn --version
          mvn clean package
